<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<style>
    .fr {
        text-align: center;
    }

    .main {
        text-align: center;
    }

    .main-form {
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 200px;
    }

    .bg-container {
        background-size: cover;
        height: 100vh;
    }

    .tag {
        color: red;
    }

    .bt {
        border-style: none;
        border-radius: 2px;
        padding: 5px;
        color: white;
    }
</style>

<body>
    <div class='bg-container'>

        <h1 class='main'> What do you Want To Predict</h1>


        <a href="/breast.html">
            <h2>Breast Cancer</h2>
        </a>
        <a href="/lung.html">
            <h2>Lung Cancer</h2>
        </a>
        <a href="/pro.html">
            <h2>Prostate Cancer</h2>
        </a>
    </div>
    </div>
</body>

</html>